/* Load font and set root styles */
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf');
} 

:root {
    font-size: 16px;
    font-family: OpenSans, sans-serif, 'Times New Roman', Times, serif; 
}

/* Remove default styles */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Header and footer styles */
.headers {
    top: 0px;
    margin: 0;
    text-align: center;
    padding: 1rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
}

.footers {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    bottom: 0;
    margin-top: auto;
    text-align: center;
    padding: 1rem;
    color: white;
}

/* Main flexbox row */
.flex-row {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
}

/* Classes for Search aside */
.aside {
    width: 20%;
    margin-right: 2rem;
}

.search-box {
   min-width: 100%;
}

.search-btn {
    min-width: 100%;
    padding: 1rem;
}

.search-history {
    margin-top: 2rem;
}

/* Classes for weather boxes */
.current-weather-cls {
    border: black .15rem solid;
    margin-top: 1rem;
}

.current-weather-cls div, h3{
    margin: 1.2rem;
    font-size: 1.2rem;
}

.current-weather-cls h3{
    display:inline;
    font-size: 2rem;
    margin-top: 0;
}


.daily-forecast-col {
    min-width: 80%;
}

.daily-row {
    display: flex;
    flex-wrap: wrap;
}

.days {
    width: 12rem;
    height: 16rem;
    margin-left: 1rem;
    background-color: rgb(61, 69, 116);
    color: white;
}
.days div{
    margin-bottom: 1.2rem;
    margin-left: .5rem;

}

.days:first-child{
    margin-left: 0;
}

.hide {
    display: none;
}

/* Dynamically added UVI classes */
/* Low is 0-2 - moderate 3-5 high 6-7 v high 8-10 extreme 11+ */
.low-uvi {
background-color: rgb(51, 218, 113);
border-radius: .4rem;
width: 9rem;
}

.mod-uvi {
    background-color: rgb(214, 230, 33);
    border-radius: .4rem;
    width: 9rem;
}

.high-uvi {
    background-color: rgb(245, 185, 33);
    border-radius: .4rem;
    width: 9rem;
}

.ext-uvi {
    background-color: rgb(233, 30, 30);
    border-radius: .4rem;
    width: 9rem;
}

/* CSS for unique Ids */
#current-box {
    min-width: 70%;
    height: 20rem;
}

/* Search feature ID CSS */
#city-search-label{
    font-size: 1.5rem;
    font-weight: bolder;
}

#city-search {
    width: 85%;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: .5rem;
}

#search-btn-id {
    background-color: rgb(94, 144, 252);
    border: none;
    border-radius: .5rem;
    color: white;
}

#search-btn-id:hover {
    background-color: rgb(68, 122, 238);
}

/* History Unique */
#search-history-list button{
    margin-top: .6rem;
    border: none;
    border-radius: .5rem;
}

#search-history-list button:hover{
    box-shadow:  0px 16px 11px 0 #000, 
    0 12px 5px 0px #ccc;
    background-color: rgb(186, 184, 184);
}

/* One offs */
#five-day {
    font-size: 1.5rem;
    font-weight: bolder;
}
